/*Connor Coleman, Info343
Designed to replicate University Pizza Setting */
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../pizza_files/bg-flour.jpg");
}

#content:hover {
    opacity: 1;
}

#menu {
    width: 100%;
    top: 0px;
    z-index: 2;
    left: 0px;
    font-size: 180%;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin: 3% auto auto auto;
}

#menu li a {
    text-decoration: none;
}

#menu a img {
    margin-left: 10px;
}

img {
    padding: 5%;
}

img.outline:hover {
    padding: 4%;
}

.outline {
    border: 2px solid black;
}

#adj {
    display: inline-block;
}

#map {
    width: 60%;
    margin: 10px 30px 30px 10px;
    border-radius: 10px;
    height: 300px;
}

#index {
    margin-top: 100px;
    padding: 2%;
    color: black;
    width: 55%;
}

#footer small#call {
    padding: 4px;
    float: right;
    border: 1px solid white;
}

#con {
    display: inline-block;
    margin-top: 0px;
}

#con p {
    margin-top: -10px;
    font-size: 80%;
}

#options h2 {
    padding: 0;
    margin: 0;
}

#copy {
    z-index: 3;
    position: fixed;
    font-size: 65%;
    color: white;
    bottom: 0;
}

#log {
    margin-top: -5%;
    display: inline;
    float: right;
}

.right h1 {
    padding: 10px;
    margin: 0;
    color: white;
    display: inline-block;
}

#oven {
    border-radius: 10px;
    margin: 20px;
    box-shadow: 3px 3px 3px black inset;
}

#order_img {
    padding: 10px;
}

#veg, #bev, #dessert, #meat, 
#me, #index, #oven, #index img,
 #map, #title {
    float: left;
}

#dessert {
    width: 40%;
    margin-bottom: 100px;
}

#content {
    z-index: 0;
    background-image: url("../pizza_files/bg.jpg");
    opacity: .9;
    color: black;
    border: 2px solid black;
    width: 80%;
    padding: 20px;
    min-height: 2000px;
    margin: auto;
}

#order {
    margin: 10px 20px 10px 0px;
    float: left;
}

a:visited, ul {
    color: black;
}

div#options {
    background-color: white;
    position: absolute;
    padding: 20px;
    width: 45%;
    z-index: 1;
    display: inline-block;
}

#options li {
    margin-left: 20px;
}

#options ul {
    margin-top: 0;
    padding-top: 0;
}

#options .name {
    margin-left: 0;
}

a h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    padding: 0px;
    font-size: 120%;
}

iframe {
    margin: 2%;
}

#meat, #veg {
    width: 40%;
}

#me {
    height: 120%;
}

#meat {
    float: left;
}

#veg {
    float: left;
}

#options ul li {
    font-size: 80%;
}

#men_left {
    margin: 0;
    color: white;
    padding: 0;
}

#title {
    color: white;
    margin: 20px;
    font-size: 14px;
    opacity: .8;
    width: 300px;
    font-style: italic;
}

#cont {
    margin-top: 100px;
    width: 600px;
    padding: 20px;
    color: black;
}

#hom {
    margin: 25px 20px 20px 20px;
}

#header {
 /*top of page */
    position: fixed;
    background-color: black;
    top: 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    padding: 0;
    height: 116px;
}

#footer {
 /*bottom menu*/
    margin: 0px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    height: 16%;
    width: 100%;
    background-color: black;
    color: white;
    left: 0px;
}

#menu li {
    list-style: none;
    color: white;
    padding: 10px;
    border-right: 2px solid white;
    display: inline-block;
}

#menu li:hover {
    font-size: 120%;
}

#menu li span {
    color: white;
}

/*for Mobile/Tablet Users*/
@media screen and (max-width: 768px) {
    #menu {
        font-size: 60%;
        padding: 0;
    }

    #content {
        min-height: 1600px;
    }

    img, iframe {
        width: 70%;
        height: 70%;
    }

    #call {
        display: none;
    }

    #copy {
        display: none;
    }

    iframe {
        width: 80%;
    }

    #order {
        margin-right: 30%;
    }

    #map {
        width: 100%;
    }

    #index {
        width: 90%;
    }

    div#options {
        width: 100%;
        margin-left: -15%;
        font-size: 80%;
    }

    #menu li:hover {
        font-size: 90%;
    }

    #content h2 {
        font-size: 80%;
    }

    #log {
        margin-top: 0;
    }
}

/* for tablet devices especially */
@media screen and (min-width: 480px) and (max-width: 768px){
    #menu {
        font-size: 120%;
    }
}

#spec {
    text-decoration: underline;
}

.name {
    list-style-type: none;
    font-style: italic;
}

#pizza {
    background-image: url("../pizza_files/pizza1.jpg");
    border-radius: 10px;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 10px 30px 30px 0px;
    box-shadow: 5px 5px 5px black;
}

#first {
    margin-left: 10px;
}

#social {
    font-size: 20px;
}

#social a {
    padding-right: 20px;
}

a {
    text-decoration: none;
}

li#menu_rem {
    border-right: none;
}


















