  
  </div> <!--#content-->
    <div id="footer">
    <a id="me" href="menu.php">
    <img src="pizza_files/menu.png" alt="Menu"/></a> 
    <p itemprop="servesCuisine" id="title">"Awesome wood-fired pizza with fresh ingredients baked to order. Come
    in and eat, or call us for delivery!" -206.555.1212 </p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <small id="call">Call us for delivery: 206-555-1212</small>
  </div>

 </div> <!--#index/menu-->
 <small id="copy">&copy; Dawg Pizza 2014</small>
</body>
</html>
