/*Designed to replicate University Pizza Setting */
body {
    position: absolute;
    z-index: 0;
    background-image: url("http://students.washington.edu/connorco/info343/HW/pizza/pizza_files/bg.jpg");
    opacity: .9;
    color: black;
    background-color: #000;
    min-height: 1000px;
}
body:hover {
    opacity: 1;
}
#menu, body {
    margin: 0;
    width: 100%;
    top: 0px;
    left: 0px;
}
#menu a img {
    margin-left: 10px;
}
#map {
    width: 350px;
    margin: 10px 30px 30px 10px;
    border-radius: 10px;
    height: 300px;
}
#index {
    margin-top: 100px;
    padding: 20px;
    color: black;
    width: 650px;
}
#con {
    display: inline-block;
    margin-top: 0px;
}
#quick-menu small#call {
    padding: 4px;
    border: 1px solid white;
}
#quick-menu small {
    margin-left: 200px;
}
#con p {
    margin-top: -10px;
}
#options h2 {
    padding: 0;
    margin: 0;
}
.right, #log {
    float: right;
}
#oven {
    border-radius: 10px;
    margin: 20px;
    box-shadow: 3px 3px 3px black;
}
#veg, #bev, #dessert, #meat, 
#me, #index, #oven, #index img, 
#pizza, #map, #title {
    float: left;
}
#dessert {
    margin-bottom: 100px;
}
#order {
    margin: 10px 20px 10px 0px;
    float: left;
}
a:visited, ul {
    color: black;
}
#options li {
    margin-left: 20px;
}
#options ul {
    margin-top: 0;
    padding-top: 0;
}
#options .name {
    margin-left: 0;
}
a h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
h2 {
    padding: 0px;
    font-size: 20px;
}
#menu {
    position: fixed;
    bottom: 80px;
    background-color: black;
    height: 116px;
}
#title {
    color: white;
    margin: 20px;
    font-size: 14px;
    opacity: .8;
    width: 300px;
    font-style: italic;
}
#cont {
    margin-top: 100px;
    width: 600px;
    padding: 20px;
    color: black;
}
#hom {
    margin: 25px 20px 20px 20px;
}
#quick-menu { /*bottom menu*/
    margin: 0px;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    left: 0px;
}
#quick-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 -10px;
    padding: 0;
}
#spec {
    text-decoration: underline;
}
.name {
    list-style-type: none;
    font-style: italic;
}
#pizza {
    border-radius: 10px;
    margin: 10px 30px 30px 0px;
    box-shadow: 5px 5px 5px black;
}
#first {
    margin-left: 10px;
}
#phone {
    color: white;
    position: relative;
    left: -40px;
    font-style: italic;
    top: 60px;
}
#social {
    display: inline;
    font-size: 20px;
}
#social a {
    padding-right: 20px;
}
a {
    text-decoration: none;
}
#log {
    margin: 30px 30px 30px 0px;
}





















